*{
	box-sizing:border-box
	}
body{
	margin:0;
	font-family:Arial,Helvetica,sans-serif;
	background:#f4f7fb;
	color:#111827
}

.entete{
	height:82px;
	background:white;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:0 35px;
	border-bottom:1px solid #e5e7eb
}

.logo{
	font-weight:bold;
	color:#111;
	text-decoration:none;
	font-size:20px
}

.logo-univ{
	height:62px;
	object-fit:contain
}

nav a{
	margin:0 12px;
	text-decoration:none;
	color:#003b8e;
	font-weight:bold
}

.page{
	max-width:1100px;
	margin:25px auto;
	background:white;
	border-radius:14px;
	padding:28px;
	box-shadow:0 6px 18px #0001
}

.petite-page{
	max-width:620px
}

.hero{
	min-height:260px;
	border-radius:12px;
	background:linear-gradient(120deg,#0b4fb3,#88c6ff);
	color:white;
	display:flex;
	align-items:center;
	padding:40px
}

.hero h1{
	font-size:34px
}

.cartes,
.grille-menu,
.photos{
	display:grid;
	grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
	gap:18px;
	margin-top:25px
}

.carte,
.tuile,
.photo-card,
.bloc-form{
	border:1px solid #dbe3ef;
	border-radius:12px;
	padding:20px;
	background:white
}

.tuile{
	text-align:center;
	text-decoration:none;
	color:#0b4fb3
}

.tuile:hover{
	box-shadow:0 4px 15px #0002
}

input,
textarea{
	width:100%;
	padding:12px;
	border:1px solid #cfd8e3;
	border-radius:8px;
	margin:7px 0 15px
}

textarea{
	min-height:130px
}

button,
.bouton,
.bouton-mini{
	display:inline-block;
	background:#064cc8;
	color:white;
	border:0;border-radius:8px;
	padding:12px 18px;
	text-decoration:none;
	cursor:pointer}
	
.danger{
	display:inline-block;
	background:#dc2626;
	color:white;
	border-radius:8px;
	padding:10px 14px;
	text-decoration:none
}

.centre{
	text-align:center
}

.erreur{
	background:#fee2e2;
	color:#991b1b;
	padding:12px;
	border-radius:8px
}

.message{
	background:#dcfce7;
	color:#166534;
	padding:12px;
	border-radius:8px
}

.photo-card img{
	width:100%;
	height:170px;
	object-fit:cover;
	border-radius:8px
}

.vote-card input{
	width:auto;
	float:right;
	transform:scale(1.4)
}

table{
	width:100%;
	border-collapse:collapse;
	background:white
}

th,
td{
	border:1px solid #dbe3ef;
	padding:12px;
	text-align:left
}

th{
background:#f1f5f9
}

@media(max-width:700px){
	.entete{
	height:auto;
	flex-direction:column;
	gap:12px;
	padding:15px}
	
.logo-univ{
	height:45px
}

.hero h1{
	font-size:24px
}

.page{
	margin:10px;
	border-radius:0
	}
}
